doctype html 
html 
    head 
        title Pug 
    body 
        h1 Hellooooooooo
        main 
            h2 How are you guys!!!!!!!
            h3 Hope you all are doing welll!!!!
            h4 Lets study pug templates