mixin friendsList(friends)
    .friend 
        h2 #{friends.name}
        p #{friends.age}
        p #{friends.occupation}
- 
    let objects = [
        {
            name: "John Doe",
            age: 30,
            occupation: "Software Engineer"
        },{
            name: "Jane Smith",
            age: 25,
            occupation: "Doctor"
        },{
            name: "Bob Johnson",
            age: 40,
            occupation: "Lawyer"
        }
    ];
#people 
    each object in objects 
        +friendsList(object)