doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug Emmet Abbreviation
        link(rel="stylesheet", href="style.css")
    body 
        main.main
            .div1
                .div2
                    ul
                        li 
        aside.asideContent 
        main#main 
        aside 
        main.main
            ul#ul-Content
                li 
                li 
                li 
                li 
                li 
            ul.ul-Content
                li 
                li 
                li 
                li 